<!-- 
<h1>Hello my World!</h1>
<div id="hello_world"></div>
<button id="click_me_button">Click me</button>

<ul id="hello_world_list">
  <li>Hello World start</li>
</ul>

<script type="text/javascript">
  const clickMeButtonE1 = document.getElementById("click_me_button");
  const helloWorldListE1 = document.getElementById("hello_world_list");

  var addHelloWorldToList = function (event){
    var itemE1 = document.createElement("li");
    itemE1.innerHTML = "Hello World!";
    helloWorldListE1.appendChild(itemE1);
  }

  clickMeButtonE1.addEventListener("click", addHelloWorldToList);
</script>

<% quote = Quote.first %>
<p>
  "<%= quote.content %>" - <%= quote.author_name %>
</p>

<div data-controller="hello">
  <button data-action="hello#addHelloWorld">Click me</button>
  <ul data-target="hello.list">
    <li>Hello World Stimulus.js start</li>
  </ul>
</div>
-->


<h2>Create a Quote</h2>
<%= form_with model: @quote, url: '/create-quote', local: true do |f| %>
  Quote: <br>
  <%= f.text_area :content, required: true %><br>
  Author: <br>
  <%= f.text_field :author_name, required: true %><br><br>
  <%= f.submit "Create Quote" %>
<% end %>

<ul id="quotes_list">
  <%= render partial: 'quote', collection: @quotes %>
</ul>